USE [master]
GO
/****** Object:  Database [Spaget Player]    Script Date: 08/01/2021 14.19.34 ******/
CREATE DATABASE [Spaget Player]
 CONTAINMENT = NONE
 ON  PRIMARY
( NAME = N'Spaget Player', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Spaget Player.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON
( NAME = N'Spaget Player_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Spaget Player_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Spaget Player].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Spaget Player]
GO
/****** Object:  Table [dbo].[tblMedia]    Script Date: 08/01/2021 14.19.34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMedia](
    [fldPath] [nvarchar](260) NOT NULL,
    [fldTitle] [nvarchar](260) NOT NULL,
    [fldArtist] [nvarchar](260) NULL,
    [fldLength] [int] NOT NULL,
    CONSTRAINT [PK_tblMedia] PRIMARY KEY CLUSTERED
(
[fldPath] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
    ) ON [PRIMARY]
    GO
/****** Object:  Table [dbo].[tblPlaylist]    Script Date: 08/01/2021 14.19.34 ******/
    SET ANSI_NULLS ON
    GO
    SET QUOTED_IDENTIFIER ON
    GO
CREATE TABLE [dbo].[tblPlaylist](
    [fldName] [nvarchar](100) NOT NULL,
    CONSTRAINT [PK_tblPlaylist] PRIMARY KEY CLUSTERED
(
[fldName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
    ) ON [PRIMARY]
    GO
/****** Object:  Table [dbo].[tblPlaylistMedia]    Script Date: 08/01/2021 14.19.34 ******/
    SET ANSI_NULLS ON
    GO
    SET QUOTED_IDENTIFIER ON
    GO
CREATE TABLE [dbo].[tblPlaylistMedia](
    [fldPlaylistName] [nvarchar](100) NOT NULL,
    [fldMediaPath] [nvarchar](260) NOT NULL,
    CONSTRAINT [PK_tblPlaylistMedia_1] PRIMARY KEY CLUSTERED
(
    [fldPlaylistName] ASC,
[fldMediaPath] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
    ) ON [PRIMARY]
    GO
ALTER TABLE [dbo].[tblPlaylistMedia]  WITH CHECK ADD  CONSTRAINT [FK_fldMediaPath_fldPath] FOREIGN KEY([fldMediaPath])
    REFERENCES [dbo].[tblMedia] ([fldPath])
    ON UPDATE CASCADE
       ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblPlaylistMedia] CHECK CONSTRAINT [FK_fldMediaPath_fldPath]
    GO
ALTER TABLE [dbo].[tblPlaylistMedia]  WITH CHECK ADD  CONSTRAINT [FK_fldPlaylistName_fldName] FOREIGN KEY([fldPlaylistName])
    REFERENCES [dbo].[tblPlaylist] ([fldName])
    ON UPDATE CASCADE
       ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblPlaylistMedia] CHECK CONSTRAINT [FK_fldPlaylistName_fldName]
    GO
    USE [master]
    GO
